allow init vfat:file { read open write };
allow init socket_device:sock_file { create setattr unlink write };
allow init property_socket:sock_file { read open write };

domain_trans(init, rootfs, dashd)
